.padre{
    width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: inline-block;
      align-items: center;
      justify-content: center;
}

.card{
  width: 18rem;
  margin: 10px;
}

.info {
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-top: 15rem;
}

.mas {
  color: white;
}

img{
  height: 350px;
}

button{
  margin: 5px;
}

@media (max-width: 576px) {
  .padre {
    align-items: center;
    flex-direction: column;
  }
}
